ion-icon{
    // display: inline;
    zoom: 2;
   color: rgba(7, 8, 8, 0.623);
}
.more{
    position: absolute;
    right: 5px;
   display: inline;
}
.phone{
    position: absolute;
    right: 25px;
    display: inline;
}
.video{
    position: absolute;
    right: 50px;
    display: inline;
}
ion-title{
    position: absolute;
    top: 8px;
    left: 40px;
}
// ion-header{
//     color: rgba(8, 10, 9, 0.911);
// }